
@{
    ViewData["Title"] = "Bids";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}



<style>
    label {
        color: #000;
    }

    .dataTables_info {
        color: #000 !important;
    }
</style>

<div class="container-fluid pt-4 px-4">

    <div class="row pt-4 mb-3">
        <div class="col-12">
            <div class="card">
                <h3 class="card-header text-dark font-monospace">All Bids</h3>
                <div class="card-body">
                    <div class="table-responsive">
                        <table id="bidTable" class="display table table-hover table-responsive">
                            <thead>
                                <tr>
                                    <th>Bid ID</th>
                                    <th>Img</th>
                                    <th>Title</th>
                                    <th>Price</th>
                                    <th>User</th>
                                    <th>Bid Amount</th>
                                    <th>Bid Time</th>
                                    <th>Bidder</th>
                                </tr>
                            </thead>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>


@section Scripts{
    <script>
        var datatable;

        $(document).ready(function () {
            loadDataTable();
        });

        function loadDataTable() {

            datatable = $("#bidTable").DataTable({
                "ajax": {
                    "url": "/Bid/ShowAllBids",
                    "type": "GET",
                    "datatype": "json"
                },
                "columns": [
                    { "data": "bidId" },
                    {
                        "data": "auction.coverPhoto", "render": function (data) {
                            return `<img src=${data} height="100px" width="100px" class="img-responsive img-fluid" />`
                        }
                    },
                    { "data": "auction.title" },
                    { "data": "auction.price" },
                    { "data": "auction.user.email" },
                    { "data": "bidAmount" },
                    {
                        "data": "timestamp"
                    },
                    { "data": "user.email" }

                ]
            });
        }

    </script>
}

