@{
    ViewData["Title"] = "Forgot Password";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="login-section pt-120 pb-120">
    <img alt="imges" src="~/assets/images/bg/section-bg.png" class="img-fluid section-bg-top">
    <img alt="imges" src="~/assets/images/bg/section-bg.png" class="img-fluid section-bg-bottom">
    <div class="container">
        <div class="row d-flex justify-content-center g-4">
            <div class="col-xl-6 col-lg-8 col-md-10">
                <div class="form-wrapper wow fadeInUp border border-primary" data-wow-duration="1.5s" data-wow-delay=".2s" style="visibility: visible; animation-duration: 1.5s; animation-delay: 0.2s; animation-name: fadeInUp;">
                    <div class="form-title">
                       <h5>Forgot Password?</h5>
                        <p class="mb-2">
                            Enter your registered email ID to reset the password
                        </p>
                    </div>
                    @if (TempData["successMessage"] != null){
                        <h6 class="text-success text-center mb-3">@TempData["successMessage"]</h6>
                    }
                    @if (TempData["errorMessage"] != null){
                        <h6 class="text-danger text-center mb-3">@TempData["errorMessage"]</h6>
                    }

                    <div class="row mt-3">
                        <form asp-action="ForgotPassword" method="post">
                            <div class="mb-3">
                                <label for="Email" class="form-label">Email</label>
                                <input type="email" id="EmailId" class="form-control" name="EmailId" placeholder="Enter Your Email"
                                       required>
                            </div>
                            <div class="mb-3 d-grid">
                                <button type="submit" class="btn btn-primary">
                                    Reset Password
                                </button>
                            </div>
                            <span>Already have an account? <a class="text-primary" href="@Url.Action("Login","Account")">Login</a></span>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
