
@{
    ViewData["Title"] = "PasswordChanged";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="login-section pt-120 pb-120">
    <img alt="imges" src="~/assets/images/bg/section-bg.png" class="img-fluid section-bg-top">
    <img alt="imges" src="~/assets/images/bg/section-bg.png" class="img-fluid section-bg-bottom">
    <div class="container">
        <div class="row d-flex justify-content-center g-4">
            <div class="col-xl-6 col-lg-8 col-md-10">
                <div class="form-wrapper wow fadeInUp border border-primary" data-wow-duration="1.5s" data-wow-delay=".2s" style="visibility: visible; animation-duration: 1.5s; animation-delay: 0.2s; animation-name: fadeInUp;">
                    <div class="form-title">
                        <h5>Password Changed Successfully</h5>
                    </div>
                    @if (TempData["successMessage"] != null)
                    {
                        <h6 class="text-success text-center mt-3 mb-3">@TempData["successMessage"] Please <a class="text-primary" href="@Url.Action("Login","Account")">Click Here</a> to login your account!</h6>
                    }

                </div>
            </div>
        </div>
    </div>
</div>


