@model ResetPasswordViewModel
@{
    ViewData["Title"] = "Reset Password";
    Layout = "~/Views/Shared/_Layout.cshtml";
}


<div class="login-section pt-120 pb-120">
    <img alt="imges" src="~/assets/images/bg/section-bg.png" class="img-fluid section-bg-top">
    <img alt="imges" src="~/assets/images/bg/section-bg.png" class="img-fluid section-bg-bottom">
    <div class="container">
        <div class="row d-flex justify-content-center g-4">
            <div class="col-xl-6 col-lg-8 col-md-10">
                <div class="form-wrapper wow fadeInUp border border-primary" data-wow-duration="1.5s" data-wow-delay=".2s" style="visibility: visible; animation-duration: 1.5s; animation-delay: 0.2s; animation-name: fadeInUp;">
                    <div class="form-title">
                        <h5>Reset Password</h5>
                    </div>
                    @if (TempData["successMessage"] != null)
                    {
                        <h6 class="text-success text-center">@TempData["successMessage"]</h6>
                    }
                    @if (TempData["errorMessage"] != null)
                    {
                        <h6 class="text-danger text-center">@TempData["errorMessage"]</h6>
                    }

                    <div class="row">
                        <form asp-action="ResetPassword">
                            <div class="mb-3">
                                <input type="hidden" asp-for="ResetCode" />
                            </div>
                            <div class="mb-3">
                                <label asp-for="NewPassword" class="form-label">New Password</label>
                                <input type="password" id="newpassword" class="form-control" asp-for="NewPassword" placeholder="Please enter your new Password"
                                       required>
                            </div>
                            <div class="mb-3">
                                <label asp-for="ConfirmPassword" class="form-label">Confirm Password</label>
                                <input type="password" id="confirmPassword" class="form-control" asp-for="ConfirmPassword" placeholder="Please confirm your Password"
                                       required>
                                <span asp-validation-for="ConfirmPassword" class="text-danger mt-2"></span>
                            </div>
                            <div class="mb-3 d-grid">
                                <button type="submit" class="btn btn-primary">
                                    Change Password
                                </button>
                            </div>
                            <span>Already have an account? <a class="text-primary" href="@Url.Action("Login","Account")">Sign in</a></span>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

@section Scripts{
    <script>
        function checkPassword() {
            password1 = $("#newpassword").value;
            password2 = $("#confirmPassword").value;
            checkpass = $("#checkpass");

            if (password1 != password2) {
                checkpass.html("\nPassword did not match: Please try again...")
                return false;
            }
        }
    </script>
}





